* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body {
    margin: 0;
    background: black;
}

.container{
    width: 500px;
    margin: 100px auto;
    background: white;
    padding: 10px;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
}

h1{
    width: 80%;
}
img{
    width: 20%;
    height: 100px;
}


header h1, header img{
    display: inline-block;
}
.content{
    display: flex;
    width: 100%;
}
.paragraph {
    width: 60%;
    margin-right:15px; 
    margin-left:5px;
    font-size: 18px;
}
.inputs{
    width: 40%;
}
form{
    margin-top: 8px;
}
.inputs form{
    list-style-type: none;
    padding-left: 0;
    font-family: 'Indie Flower', cursive;
}

input{
    border: none;
    font-size: 18px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}